:root {
  --border-radius: 12px;
  --logo-color: #5d5d65;
  --bg-secondary: #f3f5f6;
  --text-dark: #737380;
  --delete-color: #de3838;
  --orange-low: #ffa585;
  --secondary-text: #617480;
  --brand-blue: #115d8c;
  --text-dark-2: #41414d;
  --green: #51b853;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Saira", Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  height: 100%;
}

body {
  height: 100vh;
  background-color: #f0f0f5;
}
